p {
	font-size: 16px;
}

button:focus {
	outline: 0;
}

#banner {
	display: block;
	max-width: 100%;
	height: auto;
}

.row {
	min-width: 1000px;
	overflow: auto;
}

.col-lg-3 {
	float: left;
	max-width: 250px;
	min-width: 200px;
	position: relative;
}

.col-lg-9 {
	float: left;
	position: relative;
}

.list-group {
	text-align: center;
}

.list-group-item {
	border: none;
}

.copyright {
	margin: 20px 0px;
	text-align: center;
	font-size: 11px;
	color: #666666;
	line-height: 24px;
}

.notice {
	color: red;
	font-weight: bold;
	font-size: 16px;
}

.list-group-item {
	font-size: 14px;
	height: 45px;
    -webkit-transition: font-size 0.2s;
       -moz-transition: font-size 0.2s;
         -o-transition: font-size 0.2s;
            transition: font-size 0.2s;
}

.list-group-item:hover {
	font-size: 16px;
}

#content_news p {
	padding-left: 25px;
}

#content_news h3 {
	color: red;
	font-weight: bold;
}

#content_news h4 {
	font-weight: bold;
	padding-left: 25px;
}

#content_news a, #content_news a:visited, #content_news a:active, #content_news a:focus{
	color: #333333;
	cursor: pointer;
	text-decoration: none;
    -webkit-transition: color 0.2s;
       -moz-transition: color 0.2s;
         -o-transition: color 0.2s;
            transition: color 0.2s;
}

#content_news a:hover {
	color: #31698a;
	cursor: pointer;
	text-decoration: none;
}

#content_conference_information p {
	padding-left: 25px;
	line-height: 28px;
}

#content_conference_organization p {
	padding-left: 25px;
}

#content_conferance_venue font {
	color: gray;
	font-size: 11px;
}

#content_papers p {
	padding-left: 25px;
}

.paper-summit-button {
	color: white;
	background-color: #31698a;
	font-size: 20px;
	height: 60px;
	width: 400px;
	border: none;
	border-radius: 2px;
	opacity: 0.6;
    -webkit-transition: font-size 0.2s, opacity 0.2s;
       -moz-transition: font-size 0.2s, opacity 0.2s;
         -o-transition: font-size 0.2s, opacity 0.2s;
            transition: font-size 0.2s, opacity 0.2s;
}

.paper-summit-button:hover {
	font-size: 22px;
	opacity: 0.8;
}


.organization {
	color: #666666;
}

.travel-topic {
	font-weight: bold;
}

.travel-table td {
	vertical-align: top;
	line-height: 30px;
	padding: 10px 10px;
}

.keynote-table td {
	padding: 10px 10px;
}