body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
	font-size: 16px;
	font-weight: 300;
}

button:focus {
	outline: 0;
}

#banner {
	display: block;
	width: 100%;
	min-width: 1000px;
	height: auto;
}

.row {
	min-width: 1000px;
	overflow: auto;
}

.col-lg-3 {
	float: left;
	max-width: 250px;
	min-width: 200px;
	position: relative;
}

.col-lg-9 {
	float: left;
	max-width: 800px;
	position: relative;
}

.list-group {
	text-align: center;
}

.list-group-item {
	border: none;
}

.copyright {
	margin: 20px 0px;
	text-align: center;
	font-size: 11px;
	color: #666666;
	line-height: 24px;
}

.notice {
	color: red;
	font-weight: bold;
	font-size: 16px;
}

.list-group-item {
	font-size: 14px;
	height: 45px;
    -webkit-transition: font-size 0.2s;
       -moz-transition: font-size 0.2s;
         -o-transition: font-size 0.2s;
            transition: font-size 0.2s;
}

.list-group-item:hover {
	font-size: 16px;
}

.circle {
	width: 60px;
	height: 60px;
	min-width: 10px;
	min-height: 10px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 50px;
	font-size: 20px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	background-color: #31698a;
	visibility: hidden;
	opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
       -moz-transition: opacity 0.3s, visibility 0.3s;
         -o-transition: opacity 0.3s, visibility 0.3s;
            transition: opacity 0.3s, visibility 0.3s;
}

.circle-visible {
	visibility: visible;
	opacity: 0.3;
    -webkit-transition: opacity 0.3s, visibility 0s;
       -moz-transition: opacity 0.3s, visibility 0s;
         -o-transition: opacity 0.3s, visibility 0s;
            transition: opacity 0.3s, visibility 0s;
}

.circle-visible:hover {
	opacity: 0.6;
}

.circle:hover {
	cursor: pointer;
}

.btn-group.btn-group-justified {
	margin: 0px auto;
}

.btn-group.btn-group-justified .btn.btn-default{
	font-size: 16px;
	color: #ffffff;
	background-color: #31698a;
	opacity: 0.8;
	border: 1px solid;
}

.btn-group.btn-group-justified .btn.btn-default:hover{
	background-color: #31698a;
	opacity: 0.6;
	border: 1px solid;
}

#content_news p {
	padding-left: 25px;
}

#content_news .news-board {
	padding: 8px 0px;
}

#content_news .news-board font {
	color: #555555;
	font-size: 22px;
	font-weight: 200;
	padding-left: 25px;
}

#content_news h3 {
	color: red;
	opacity: 0.6;
	font-weight: bold;
}

#content_news h4 {
	font-size: 16px;
	margin: 2px 0px;
	color: #333333;
	font-weight: 200;
	padding-left: 25px;
}

#content_news a, #content_news a:visited, #content_news a:active, #content_news a:focus{
	color: #5889b5;
	cursor: pointer;
	text-decoration: none;
    -webkit-transition: color 100ms;
       -moz-transition: color 100ms;
         -o-transition: color 100ms;
            transition: color 100ms;
}

#content_news a:hover {
	color: #ff7373;
	cursor: pointer;
	text-decoration: none;
}

#content_conference_information p {
	padding-left: 25px;
	line-height: 28px;
}

#content_conference_organization p {
	padding-left: 25px;
}

#content_conferance_venue font {
	color: gray;
	font-size: 11px;
}

#content_papers p {
	padding-left: 25px;
}

#Session_1, #Session_2, #Session_3, #Session_4, #Session_5, #Session_6 {
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#Session_2, #Session_3, #Session_4, #Session_5, #Session_6 {
	display: none;
}

/*#content_proceeding p {
	padding-left: 25px;
}*/

#alert {
	color: red;
	opacity: 0.6;
	font-weight: bold;
}

#content_proceeding .paper-list {
	padding: 5px 0px;
}

#content_proceeding .paper-list font {
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	padding-left: 98px;
}

#content_proceeding h4 {
	font-size: 16px;
	margin: 2px 0px;
	color: #333333;
	font-weight: 400;
	padding-left: 25px;
}

#content_proceeding .page-header {
	font-size: 20px;
	margin: 10px 0px;
	padding-left: 0px;
}

#content_proceeding a {
	display: block;
	width: inherit;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#content_proceeding a, #content_proceeding a:visited, #content_proceeding a:active, ##content_proceeding a:focus{
	color: #5889b5;
	cursor: pointer;
	text-decoration: none;
    -webkit-transition: color 100ms;
       -moz-transition: color 100ms;
         -o-transition: color 100ms;
            transition: color 100ms;
}

#content_proceeding a:hover {
	color: #ff7373;
	cursor: pointer;
	text-decoration: none;
}

.paper-summit-button {
	color: white;
	background-color: #31698a;
	font-size: 20px;
	height: 60px;
	width: 400px;
	border: none;
	border-radius: 2px;
	opacity: 0.6;
    -webkit-transition: font-size 0.2s, opacity 0.2s;
       -moz-transition: font-size 0.2s, opacity 0.2s;
         -o-transition: font-size 0.2s, opacity 0.2s;
            transition: font-size 0.2s, opacity 0.2s;
}

.paper-summit-button:hover {
	font-size: 22px;
	opacity: 0.8;
}


.organization {
	color: #666666;
}

.travel-topic {
	font-weight: bold;
}

.travel-table td {
	vertical-align: top;
	line-height: 30px;
	padding: 10px 10px;
}
.keynote-table {
	overflow: auto;
}

.keynote-table td {
	padding: 10px 10px;
}